Package: com.mtac.no3dlines
Name: No3DLines
Depends: mobilesubstrate
Version: 1.2.2
Architecture: iphoneos-arm
Description: Remove the lines from 3D Touch menus
Maintainer: MTAC
Author: MTAC
Section: Tweaks
